body {
    font-family: "Times New Roman", Times, serif;
    background-color: #0b1c2a;
    color: white;
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding: 50px;
    max-width: 900px;
    margin: auto;
  }
  
.container1 {
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}

.container2 {
  padding: 50px;
  max-width: 1200px;
  margin: auto;

  .certificate-img {
    transition: transform 0.3s ease;
  }
  
  .certificate-img:hover {
    transform: scale(1.2); /* Membuat zoom 10% */
  }
  
}

  nav {
    background-color: #0b1c2a;
    padding: 20px;
    text-align: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  h1, h2, h3 {
    margin-bottom: 20px;
  }
  
  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .section img {
    max-width: 300px;
    border-radius: 10px;
    margin-top: 40px;
  }
  
.section1 img {
  max-width: 300px;
  border-radius: 10px;
  margin-top: 20px;
}

  .card {
    background-color: #132c41;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
 }

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  min-height: 100vh;
}

.contact-box {
  background: #ffffff;
  color: #333;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 100%;
}

.contact-box h2 {
  text-align: center;
  color: #0f2027;
  margin-bottom: 30px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
}

.contact-item i {
  font-size: 22px;
  margin-right: 15px;
  color: #00bcd4;
  width: 30px;
}

.contact-item a {
  color: #007BFF;
  text-decoration: none;
}

.contact-item a:hover {
  text-decoration: underline;
}
