body {
    font-family: "Times New Roman", Times, serif;
    background-color: #0b1c2a;
    color: white;
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding: 50px;
    max-width: 900px;
    margin: auto;
  }
  
.container1 {
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}

.container2 {
  padding: 50px;
  max-width: 1200px;
  margin: auto;

  .certificate-img {
    transition: transform 0.3s ease;
  }
  
  .certificate-img:hover {
    transform: scale(1.2); /* Membuat zoom 10% */
  }
  
}

  nav {
    background-color: #0b1c2a;
    padding: 20px;
    text-align: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  h1, h2, h3 {
    margin-bottom: 20px;
  }
  
  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .section img {
    max-width: 300px;
    border-radius: 10px;
    margin-top: 40px;
  }
  
.section1 img {
  max-width: 300px;
  border-radius: 10px;
  margin-top: 20px;
}

  .card {
    background-color: #132c41;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
  }
  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 100px;
}

.contact-info {
    max-width: 60%;

}
.contact-container1 {
      font-family: Arial, sans-serif;
    }
    .contact-info1 p {
      margin: 8px 0;
    }
    .contact-info1 i {
      margin-right: 8px;
      color: #444;
    }
